body {
    font-size: 0;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
}

.slot_container {
    height: 90vh;
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    justify-content: center;
}

.slot {
    border: 1px solid black;
    width: 14%;
    padding-bottom: 2%;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 1rem;
}

.slot:hover {
    #background-color: beige;
}

.selected_slot_p1 {
    background-color: red;
}

.selected_slot_p2 {
    background-color: blue;
}

.logo{
    width: 35%;
    margin: 2% 3%;
}

.logo2{
    width: 35%;
    margin: 0 3% 7% 3%;
}

.sandp{
    width: 60%;
    float: left;
}


