body {
    font-size: 0;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.landscape{
    visibility: hidden;
    position: absolute;
}
/******************************* LOGOS *******************************/
.logo_container {
    margin: 2%;
    float: left;
    height: 35%;
    width: 25%;
}
.logo{
    width: 80%;
    margin-bottom: 3%;
}
.logo2{
    width: 90%;
    margin-bottom: 7%;
}
.sandp{
    width: 120%;
    margin-left: -10%;
}
/******************************* GAME AREA *******************************/
.slot_container {
    margin: 6% 2% 0 2%;
    float: left;
    height: 40%;
    width: 40%;
    display: inline-block;
}
.slot {
    background-image: url("img/slot.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14%;
    height: 5.5vw;
    display: inline-block;
}
.top {
    background: none;
}
.top:hover {
    background-image: url("img/spongebob_ready.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.selected_slot_p1 {
    background-image: url("img/spongebob_chip.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.selected_slot_p2 {
    background-image: url("img/patrick_chip.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
/******************************* SCORE BOARD *******************************/
.score_container {
    background-image: url("img/bamboo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 12% 2% 0 2%;
    float: left;
    height: 70%;
    width: 18%;
    position: relative;
}
.youare_s, .youare_p{
    margin-top: 18%;
    margin-left: 15%;
    position: absolute;
    width: 70%;
}
.spongebob_gray, .spongebob{
    margin-top: 48%;
    margin-left: 17%;
    position: absolute;
    width: 28%;
}
.patrick_gray, .patrick {
    margin-top: 78%;
    margin-left: 17%;
    position: absolute;
    width: 28%;
}
.player1_score {
    margin-top: 46%;
    margin-left: 58%;
    width: 28%;
    font-size: 5vw;
    position: absolute;

}
.player2_score {
    margin-top: 76%;
    margin-left: 58%;
    width: 28%;
    font-size: 5vw;
    position: absolute;
}
.new_game{
    margin-top: 110%;
    margin-left: 20%;
    width: 60%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.new_game:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.reset_score{
    width: 60%;
    margin-top: 130%;
    margin-left: 20%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.reset_score:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
/******************************* WIN CONDITION *******************************/
.you_won{
    margin: 20% 0;
    width: 100%;
    position: relative;
}
.spongebob_won{
    width: 100%;
    position: relative;
    border: dotted 5px white;
    border-radius: 12px;
}
.patrick_won{
    width: 80%;
    margin: 0 11%;
    position: relative;
    border: dotted 5px white;
    border-radius: 12px;
}
/******************************* MEDIA QUERY *******************************/
@media (max-width: 450px) and (orientation: portrait) {
    .landscape{
        visibility: visible !important;
        margin: 10%;
    }
    .logo_container, .slot_container, .score_container{
        display: none !important;
    }
    body{
        background-image: none !important;
        background-color: #fff000 !important;
    }
}

@media (min-width: 451px) and (max-width: 768px)  and (orientation: portrait) {
    .landscape{
        visibility: visible !important;
        width: 60%;
        margin: 5% 20%;
    }
    .logo_container, .slot_container, .score_container{
        display: none !important;
    }
    body{
        background-image: none !important;
        background-color: #fff000 !important;
    }
}
@media (max-width: 750px) and (orientation: landscape) {
    body {
        overflow: hidden;
        background-size: 115%;
    }
}
@media (min-width:751px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        overflow: hidden;
        background-size: 150%;
    }
}