body {
    font-size: 0;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    width: 100vw;
}
.logo_container {
    margin: 2%;
    float: left;
    height: 35%;
    width: 25%;
}
.logo{
    width: 80%;
    margin-bottom: 3%;
}
.logo2{
    width: 90%;
    margin-bottom: 7%;
}
.sandp{
    width: 120%;
    margin-left: -10%;
}
.slot_container {
    margin: 6% 2% 0 2%;
    float: left;
    height: 40%;
    width: 40%;
    display: inline-block;
}
.slot {
    background-image: url("img/slot.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14%;
    height: 5.5vw;
    display: inline-block;
}
.top {
    background: none;
}
.top:hover {
    background-image: url("img/spongebob_ready.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.new_game{
    margin-top: 110%;
    margin-left: 20%;
    width: 60%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.new_game:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.reset_score{
    width: 60%;
    margin-top: 130%;
    margin-left: 20%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.reset_score:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.selected_slot_p1 {
    background-image: url("img/spongebob_chip.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.selected_slot_p2 {
    background-image: url("img/patrick_chip.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.player1_score {
    margin-top: 46%;
    margin-left: 58%;
    width: 28%;
    font-size: 5vw;
    position: absolute;

}
.player2_score {
    margin-top: 76%;
    margin-left: 58%;
    width: 28%;
    font-size: 5vw;
    position: absolute;

}
.youare_s, .youare_p{
    margin-top: 18%;
    margin-left: 15%;
    position: absolute;
    width: 70%;

}
.spongebob_gray, .spongebob{
    margin-top: 48%;
    margin-left: 17%;
    position: absolute;
    width: 28%;

}
.patrick_gray, .patrick {
    margin-top: 78%;
    margin-left: 17%;
    position: absolute;
    width: 28%;

}
.you_won{
    margin: 20% 0;
    width: 100%;
    position: relative;
}
.spongebob_won{
    width: 100%;
    position: relative;
    border: dotted 5px white;
    border-radius: 12px;
}
.patrick_won{
    width: 80%;
    margin: 0 11%;
    position: relative;
    border: dotted 5px white;
    border-radius: 12px;
}
.game_modes{
    width: 100%;
    margin: 20% 5%;
}
.game_modes img{
    margin: 3%;
    width: 40%;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.game_modes img:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.sound_on, .sound_off{
    position: absolute;
    margin: 0 22%;
    width: 3%;
}
.score_container {
    background-image: url("img/bamboo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 12% 2% 0 2%;
    float: left;
    height: 70%;
    width: 18%;
    position: relative;
}